.ProseMirror {
  outline: none;
  font-size: 1rem;
}
.TyroEditor-blockmenu-wrapper,
.TyroEditor-balloonmenu-wrapper {
  position: absolute;
  top: 4px;
  background-color: #fafafa;
  border: 1px solid #c4c4c4;
  transition: all 0.3s;
}
.TyroEditor-blockmenu-wrapper .TyroEditor-blockmenu,
.TyroEditor-balloonmenu-wrapper .TyroEditor-balloonmenu {
  max-width: 388px;
  height: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 4px;
}
.TyroEditor-btn {
  outline: none;
  border: none;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
.TyroEditor-btn:last-child {
  margin-right: 0;
}
.TyroEditor-btn:hover,
.TyroEditor-btn:active,
.TyroEditor-btn.TyroEditor-menu-active {
  background-color: #DEDEDE;
}
.TyroEditor-btn.active {
  color: #388ae5;
}